* {
  font-family: 'Be Vietnam Pro';
}

.container {
  display: flex;
  width: 1440px;
  height: 989px;
  max-height: 989px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-column {
  position: relative;
  display: flex;
  height: 100%;
  gap: 20px;
}

.column {
  display: flex;
  width: 79px;
  transition: transform 3s ease;
}

.circle {
  border-style: dotted;
  border-radius: 50%;
  border: 2px dashed rgba(0, 78, 171, 0.15);
  padding: 10px;

}

.inner-circle {
  background: linear-gradient(63.23deg, #204EA5 -29.6%, #EB4969 101.75%);
  border-radius: 50%;
}

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: center;
  color: #FFFFFF;
}

/* Circle01 */

.circles .circle:nth-child(1) {
  position: absolute;
  top: 465px;
  left: 186px;
}

.circles .circle:nth-child(1) .inner-circle {
  width: 246px;
  height: 246px;
}

/* Circle02 */

.circles .circle:nth-child(2) {
  position: absolute;
  left: 388px;
  top: 669px;
}

.circles .circle:nth-child(2) .inner-circle {
  width: 246px;
  height: 246px;
}

/* Circle03 */

.circles .circle:nth-child(3) {
  position: absolute;
  left: 497px;
  top: 358px;
}

.circles .circle:nth-child(3) .inner-circle {

  width: 306px;
  height: 306px;
}

/* Circle04 */

.circles .circle:nth-child(4) {
  position: absolute;
  left: 727px;
  top: 98px;
}

.circles .circle:nth-child(4) .inner-circle {
  width: 284px;
  height: 284px;
}

/* Circle05 */

.circles .circle:nth-child(5) {
  position: absolute;
  left: 1034px;
  top: 219px;
}

.circles .circle:nth-child(5) .inner-circle {
  width: 246px;
  height: 246px;
}

.paragraph:nth-child(1) {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  position: absolute;
  width: 474px;
  height: 168px;
  left: 178px;
  top: 149px;
  /* headline/h1 - 56 */
  width: 474px;
  height: 168px;
  /* Heading/H1 */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  letter-spacing: -2px;
  /* Neutral/Dark */
  color: #353455;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.paragraph:nth-child(2) {
  position: absolute;
  width: 414px;
  height: 102px;
  left: 866px;
  top: 493px;
}

.paragraph:nth-child(2) .headline {
  /* Heading/H3 */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  letter-spacing: -0.8px;
  /* Primary/Blue */
  color: #004EAB;

}

.body {
  width: 414px;
  height: 188px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: -0.2px;
  /* Neutral/Dark */
  color: #353455;
}

li::marker {
  /* Primary/Pink */
  content: url("./marker.svg");

}